{% extends 'core_app/base.html' %}

{% block title %}Home{% endblock %}

    {% block content %}
    
        
        <div class="flex justify-between mx-32 mt-20">

            <div class="flex gap-10">
                <button class="font-medium text-[14px] text-gray-500 focus:text-black focus:font-bold">
                    POPULAR
                </button>
                <button class="font-medium text-[14px] text-gray-500 focus:text-black focus:font-bold">
                    CATEGORIES
                </button>
            </div>
            <div>
            <a href="{% url 'discussion_app:create_post' %}" class=" p-3 text-white hover:bg-blue-700 font-semibold rounded-lg bg-blue-500">
               <strong class="text-xl">+</strong> New Post
            </a>
            </div>
        </div>

        <div class="grid grid-cols-3 gap-8 px-20 mt-16">
            {% for category in categories %}
            <a href="{% url 'discussion_app:category_detail' category.id %}">
            <div class="relative transform hover:scale-110 hover:border-rose-600 hover:shadow-xl transition-all max-w-sm bg-white border border-gray-200 rounded-3xl shadow-lg dark:bg-gray-800 dark:border-gray-700">
                <div class=" px-8 pt-12 rounded-3xl h-40">
                    <img class=" relative w-full h-20 rounded-3xl shadow-lg" src="{{category.logo.url}}" alt="" />
                    <h1 class="absolute left-[65px] top-[70px] text-white font-semibold text-xl">{{category.name | upper}}</h1>
                </div>
                <div class="grid grid-cols-2 px-10">
                
                    <h1 class="font-normal text-xs mb-1 text-gray-400">POSTS</h1>
                    <h1 class="font-normal text-xs mb-1 text-gray-400">LAST ACTIVITY</h1>

                    <h1 class="font-semibold text-lg px-4 mb-2 ">{{category.post_category.all.count}}</h1>
                    <h1 class="font-semibold text-sm  ">{{category.post_category.last.creation_date}}</h1>
                    
                    <h1 class="font-normal text-xs mb-2  text-gray-400 ">LAST POST</h1>
                    <div class="col-span-2 mb-6 flex items-center">
                        <img class="h-10 w-10 rounded-full object-cover shadow-lg" src="{{category.post_category.last.author.userprofile.avatar.url}}" alt="">
                        <h1 class="font-semibold text-sm pl-1 text-ellipsis">{{category.post_category.last.title}}</h1>
                    </div>
    
                </div>
            
            </div>
            </a>
            {% endfor %}

        </div>
        
        
            
            
    
    {% endblock %}