{% extends 'core_app/base.html' %}

{% block title %}{{category.name}}{% endblock %}

{% block content %}

    <div class="grid grid-cols-1 mx-20 my-10">

        <div class="flex justify-center bg-white m-7 overflow-hidden rounded-3xl shadow-2xl border border-gray-400">
            <div class="relative h-32  m-6 rounded-3xl shadow-lg w-full ">
                <img class="w-full h-32 rounded-2xl" src="{{category.logo.url}}" alt="category name">
                <h1 class="absolute left-[100px] bottom-[40px] font-semibold text-[35px] text-white">{{category.name | upper}}</h1>
            </div>
        </div>
=<div class="relative overflow-x-auto mt-20">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-300">
            <tr>
                <th scope="col" class="px-6 py-3 font-medium">
                    TOPIC
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    USERS
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    REPLIES
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    VIEWS
                </th>
            </tr>
        </thead>
        <tbody>
            {% for post in category.post_category.all %}
            
            <tr class="bg-white border-y hover:bg-gray-100 transition-all">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href="#" class="hover:text-blue-400">
                    {{post.title}}
                    </a>
                </th>
                <td class="px-6 py-4">
                    
                    
                    <div class="flex justify-start gap-[2px]"> 
                        {% if post.involved_users.1 > 3 %}

                            {% for user in post.involved_users.0|slice:'0:4' %}
                                    
                            <img class="h-10 w-10 rounded-full object-cover " src="{{user.userprofile.avatar.url}}" alt="">
                                
                            {% endfor %}

                            <div class="h-11 w-11 rounded-full font-bold p-[10px]  bg-gray-200">+{{post.involved_users.1|add:'-4'}}</div>

                        {% else %}
                            {% for user in post.involved_users.0 %}

                            <img class="h-10 w-10 rounded-full object-cover " src="{{user.userprofile.avatar.url}}" alt="">
                                
                            {% endfor %}
                        
                        {% endif %}
                    </div>
                    
                </td>

                <td class="px-8 py-4">
                    {{post.message_post.count}}
                </td>
                <td class="px-8 py-4">
                    {{post.views}}
                </td>
            </tr>
        

            {% endfor %}
        </tbody>
    </table>
</div>
            
    </div>
    

{% endblock %}

