{% extends 'core_app/base.html' %}

{% block title %}POST{% endblock %}

{% block content %}

<div class="w-full inline-flex mt-10">

    <div class="w-2/5 items-center mx-5 rounded-2xl px-12 py-5 bg-blue-700 text-white">
      <div class="flex justify-between">
        <div class="flex gap-1">
          <div class="">
            <form action="{% url 'discussion_app:post_delete' post.id %}" method="post">
              {% csrf_token %}
  
              {% if request.user == post.author %}
                <button type="submit" class="">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                  </svg>                               
                </button>
              {% endif %}
            </form>         
          </div>
          <div class="">
            <form action="{% url 'discussion_app:post_edit' post.id %}" method="post">
              {% csrf_token %}
  
              {% if request.user == post.author %}
                <button type="submit" class="">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                  </svg>
                                
                </button>
              {% endif %}
            </form>         
          </div>
        </div>
      <div class="flex">    
      <div class="">
          <form action="{% url 'discussion_app:post_like' post.id %}" method="post">
            {% csrf_token %}

            {% if is_liked %}
              <button type="submit" class="text-red-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="fill-current w-9 h-9">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                </svg>               
              </button>
            {% else %}
              <button type="submit" class="">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                </svg>
              </button>
            {% endif %}
          </form>         
        </div>
        <div class="">
          <form action="{% url 'discussion_app:post_save' post.id %}" method="post">
            {% csrf_token %}

            {% if post_saved %}
              <button type="submit" class="text-yellow-200">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 3.75V16.5L12 14.25 7.5 16.5V3.75m9 0H18A2.25 2.25 0 0120.25 6v12A2.25 2.25 0 0118 20.25H6A2.25 2.25 0 013.75 18V6A2.25 2.25 0 016 3.75h1.5m9 0h-9" />
                </svg>
              </button>
            {% else %}
              <button type="submit" class="">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
                </svg>
                
              </button>
            {% endif %}
          </form>         
        </div>
      </div>
        
      
      </div>

      
        <div class="font-semibold text-2xl break-words ">
            {{post.title}}
        </div>

        <div class="pt-10 inline-flex">
            <img class="h-10 w-10 object-cover rounded-full" src="{{post.author.userprofile.avatar.url}}" alt="img">
            <h1 class="pl-5 pt-2 font-semibold">{{post.author.username | capfirst}}</h1>
        </div>

        <div class="pt-10">
            {{post.content}}
        </div>

        
        <div class="flex flex-col ">
            <div class="sm:-mx-6 lg:-mx-8">
              <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="">
                  <table class="min-w-full text-center text-sm font-light">
                    <thead class="">
                      <tr class="text-white text-opacity-70">
                        <th scope="col" class="px-6 py-4 font-light">REPLIES</th>
                        <th scope="col" class="px-6 py-4 font-light">VIEWS</th>
                        <th scope="col" class="px-6 py-4 font-light">LIKES</th>
                        <th scope="col" class="px-6 py-4 font-light">LAST REPLY</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-white font-medium overflow-x-hidden">
                        <td class="whitespace-nowrap px-6 ">{{post.message_post.count}}</td>
                        <td class="whitespace-nowrap px-6 ">{{post.views}}</td>
                        <td class="whitespace-nowrap px-6 ">{{post.likes.count}}</td>
                        <td class="whitespace-nowrap px-6 ">{{post.message_post.last.creation_date}}</td>
                      </tr>
                        </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="inline-flex pt-10 gap-2">
          {% for user in post.involved_users.0 %}
                                    
            <img class="h-10 w-10 rounded-full object-cover " src="{{user.userprofile.avatar.url}}" alt="">
                                
          {% endfor %}
          </div>
    </div>

    <div class=" items-center mx-5 rounded-2xl px-12 py-5">
      <div>
        <form action="" method="post">
          {% csrf_token %}
          {{message_form.submit_message}}
          {{message_form.content}}
          <br>
          <button type="submit" class="bg-blue-500 p-4 text-xl font-semibold ml-2 rounded-xl text-white">Post</button>
        </form>
      </div>

      {% for message in post.message_post.all|dictsortreversed:"creation_date" %}
        {% if message.is_parent %}
        <div class="pb-10">
          <div class="inline-flex gap-2">
            <img class="h-10 w-10 rounded-full object-cover " src="{{message.author.userprofile.avatar.url}}" alt="">
            <div class="inline-block">
              <div class="font-semibold text-black">
                {{message.author | capfirst}}
              </div>
              <div class="font-light text-gray-400">
              {{message.creation_date}}
              </div>
            </div>
          </div>
          <div class="text-black text-opacity-70 pt-3">
            {{message.content}}
          </div>
        </div>  
          <div class="pl-[580px] ">
            <form action="{% url 'discussion_app:comment_like' message.id %}" method="post">
              {% csrf_token %}

              {% if request.user in message.likes.all %}
              <button class="text-red-500" name="comment_like" value="{{ post.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="fill-current w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                </svg>
                <div class="text-black font-semibold">
                  {{message.likes.count}}
                </div>
              </button>
              {% else %}
              <button class="text-black" name="comment_like" value="{{ post.id }}" >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                </svg>
                <div class="text-black font-semibold">
                  {{message.likes.count}}
                </div>
              </button>
              {% endif %}
            </form>
          </div>
        <div class=" items-center rounded-2xl py-5">
          <div>
            <form action="" method="post">
              {% csrf_token %}
              {{reply_form.submit_reply}}
              {{reply_form.content}}
              <br>
              <button name="reply_form" value="{{ message.id }}" type="submit" class="bg-blue-500 p-4 text-xl font-semibold ml-2 rounded-xl text-white">Reply</button>
            </form>
          </div>
        
        {% endif %}
        
        <div class="pl-10">
          {% for reply in message.children %}
          <div class="pb-10">
            <div class="inline-flex gap-2">
              <img class="h-10 w-10 rounded-full object-cover " src="{{reply.author.userprofile.avatar.url}}" alt="">
              <div class="inline-block">
                <div class="font-semibold text-black">
                  {{reply.author | capfirst}}
                </div>
                <div class="font-light text-gray-400">
                {{reply.creation_date}}
                </div>
              </div>
            </div>
            <div class="text-black text-opacity-70 pt-3">
              {{reply.content}}
            </div>
            <div class="pl-[545px]">
              <form action="{% url 'discussion_app:comment_like' reply.id %}" method="post">
                {% csrf_token %}
  
                {% if request.user in reply.likes.all %}
                <button class="text-red-500" name="comment_like" value="{{ post.id }}">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="fill-current w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                  </svg>
                  <div class="text-black font-semibold">
                    {{reply.likes.count}}
                  </div>
                </button>
                {% else %}
                <button class="text-black" name="comment_like" value="{{ post.id }}" >
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                  </svg>
                  <div class="text-black font-semibold">
                    {{reply.likes.count}}
                  </div>
                </button>
                {% endif %}
              </form>
            </div>
          </div>
          {% endfor %}
        </div>
                          
      {% endfor %}
    </div>
</div>

{% endblock %}